html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #dce0e6;
}

.card-main{
    background-color:white;
    padding: 25px;
    border-radius:25px;
    margin-bottom:25px;
}

.card.card-dashboard {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    border: none;
}

.card-tabela {
    border-radius: 25px;
    background-color: #e0e0e0;
}

.card-tabela .table{
    border-radius: 25px;
}

.navbar {
    background-color: #2b4c7e;
}

.navbar-brand img{
    height:40px;
}

.nav-link {
    color: white;
}

.card-1 {
    background-color: #482344;
}

.card-2 {
    background-color: #28a745;
}

.card-3 {
    background-color: #fab243;
}

.card-4 {
    background-color: #2b5166;
}

.card-5 {
    background-color: #e02130;
}

.card-6 {
    background-color: #6c757d;
}

.card-highlight {
    font-size: 1.2em;
    padding: 30px;
    border: 2px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-container {
    margin: 20px;
}

.btn-custom {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #567ebb;
    color: white;
    padding: 15px;
}
    .btn-custom:hover {
        background-color: #606d80;
        color: white;
    }

    .btn-custom i {
        margin-right: 8px;
    }


#dataInicioNovoProcesso {
    background: none;
    border: none;
    color: white;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: calc(1.3rem + .6vw);
    width:165px;
}

#dataInicioNovoProcesso:focus{
    border:none;
}