@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<form asp-action="PopularBD" method="post">
    <button type="submit" class="btn btn-primary">Popular Banco de Dados</button>
</form>